body {
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
	line-height: 1.2
}

nav {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2.5em;
	font-weight: 600;
	line-height: 2.25;
}

h3 {
	font-size: 130%;
	font-style: italic;
	line-height: 1.5;
}


caption {
	font-style: 40%;
	line-height: normal;
}

p {
  font-size: 120%;
	line-height: 1.6;
	margin: 10px;
	margin-left: 0;
	margin-top: 20px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:link { color:#ffffff; } /*unvisited*/
a:visited { color:#ffffff; } /* visited */
a:hover { color:#0070BC; } /* mouse over */
a:active { color:#0070BD; } /* selected */
